.body {
    margin: 0;
    background-color: #0D0808;
}

.main__imageaccueil {
    clip-path: polygon(50% 6%, 100% 6%, 100% 35%, 100% 82%, 75% 87%, 44% 84%, 19% 89%, 0 79%, 0% 35%, 0 6%);
}

.main__replique {
    color: var(--text, #D7D7D7);
    text-align: center;
    font-family: Londrina Solid;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
    margin-top: 5px;
}

.main__red {
    font-weight: bold;
    color: var(--text, #D20000);
}

.main__imageaccueil2 {
    clip-path: polygon(51% 12%, 82% 8%, 100% 13%, 100% 85%, 76% 93%, 46% 89%, 16% 93%, 0 88%, 0 15%, 14% 8%);
}

.main__conteneur {
    position: relative;
    display: inline-block;
}

.main__relative {
    position: relative;
}

.main__texteimage {
    color: var(--text, #D7D7D7);
    text-align: center;
    font-family: Londrina Solid;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    position: absolute;
    top: 63%;
    /* Ajustez selon votre besoin */
    left: 50%;
    /* Ajustez selon votre besoin */
    transform: translate(-50%, -80%);
}

.main__articletitre {
    text-align: left;
    width: 185px;
    height: 90px;
    flex-shrink: 0;
    color: var(--footage, #D7D7D7);
    font-family: 'Futura Md BT';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.main__articledes {
    text-align: left;
    width: 170px;
    height: 150px;
    flex-shrink: 0;
    color: var(--footage, #D7D7D7);
    font-family: Londrina Solid;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.main__centre {
    text-align: center;
}

.main__block {
    padding-left: px;
    display: inline-block;
    vertical-align: top;
    /* Ajuste l'alignement vertical si nécessaire */
    width: 47%;
    /* Ajustez la largeur selon vos besoins */
}

.main__block2 {
    padding-left: px;
    display: inline-block;
    vertical-align: top;
    /* Ajuste l'alignement vertical si nécessaire */
    width: 42%;
    /* Ajustez la largeur selon vos besoins */
    margin-left: 30px;

}

.main__imgarticle {
    transform: translate(0%, 14%);
}

.main__button {
    text-align: center;
    margin: 0;
    padding-bottom: -10px;
    border: 2px solid var(--text-red, #D20000);
    display: inline-block;
    text-decoration: none;
}

.main__buttontxt {
    color: var(--text-red, #D20000);
    font-family: 'Futura Md BT';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 300%;
    vertical-align: top;
    display: inline-block;
    padding: 0%;
    margin: 0%;
    margin-right: 10px;
    text-decoration: none;
}

.main__imgtransi {
    clip-path: polygon(54% 10%, 77% 6%, 100% 13%, 100% 87%, 76% 85%, 47% 90%, 19% 86%, 0 88%, 0 14%, 19% 6%);
}

.main__imgtransi2 {
    clip-path: polygon(49% 6%, 75% 10%, 100% 4%, 100% 87%, 76% 91%, 49% 85%, 23% 90%, 0 83%, 0 7%, 19% 10%);
}

.main__espace {
    padding-top: 30px;
}

.main__imgcontact {
    clip-path: polygon(45% 2%, 74% 5%, 100% 4%, 100% 48%, 100% 100%, 0 100%, 0% 70%, 0 2%, 16% 4%);
}

.main__contact {
    color: var(--footage, #D7D7D7);
    font-family: 'Futura Md BT';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__contactimgtxt {
    color: var(--text, #D7D7D7);
    text-align: center;
    font-weight: 300;
    line-height: 200%;
    position: absolute;
    top: 63%;
    /* Ajustez selon votre besoin */
    left: 50%;
    /* Ajustez selon votre besoin */
    transform: translate(-50%, -75%);
}

.main__casecontact input[type="text"],
.main__casecontact textarea {
    width: 100%;
    padding: 15px;
    background-color: transparent;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    /* Garantit que la largeur inclut le padding et la bordure */
    font-family: 'Helvetica Neue';
    font-size: 20px;
    color: #D7D7D7;
}

.main__bouttoncontact {
    padding: 10px 20px;
    font-family: 'Futura Md BT';
    background-color: transparent;
    /* Fond transparent */
    color: #D7D7D7;
    /* Couleur du texte */
    border: 1px solid #D7D7D7;
    /* Bordure pleine, mais transparente */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    transition: border-color 0.3s ease;
    /* Transition pour l'effet creux */
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    width: 100vw;
    /* Full width (cover the whole page) */
    height: 100vh;
    /* Full height (cover the whole page) */
    top: 0;
    /* Stay at the top */
    left: 0;
    /* Stay at the left */
    right: 0;
    /* Stay at the right */
    bottom: 0;
    /* Stay at the bottom */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    cursor: pointer;
    /* Add a pointer on hover */
    display: grid;
    /* Use a grid for easy centering */
    place-items: center;
    /* Center vertically and horizontally */
}

.overlay::after {
    /* Add content : "X" */
    content: "X";
    /* White text color */
    color: white;
    /* Black background color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Font family "sans-serif" */
    font-family: 'Helvetica';
    /* Centered text */
    text-align: center;
    /* Line height ( idem height ) */
    line-height: 2rem;
    height: 2rem;
    /* Display as a block */
    display: block;
    /* Position absolute */
    position: absolute;
    /* 1rem from the top */
    top: 1rem;
    /* 1rem from the right */
    left: 1rem;
    /* 2rem width */
    width: 2rem;
    /* 2rem height */
    height: 2rem;
    /* White border of 2px */
    border: 2px solid white;
    /* Rounded border */
    border-radius: 50%;
}

.overlay>figure {
    /* No margin */
    margin: 0;
    /* 1rem padding */
    padding: 1rem;
    /* White border of 2px */
    border: 2px solid white;
}

.overlay>figure>img {
    /* Max width 100% for responsive image */
    max-width: 100%;
    /* Height auto for keeping the ratio */
    height: auto;
}

.main__titregalerie {
    color: var(--text, #D7D7D7);
    text-align: center;
    font-family: 'Futura Md BT';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    margin: 0px;

}

.main__pgalerie {
    color: var(--text, #D7D7D7);

    text-align: left;
    font-family: 'Helvetica';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.main__livresimg {
    clip-path: polygon(100% 45%, 82% 100%, 100% 100%, 100% 0, 0 0, 0 99%, 20% 45%, 0 0, 82% 0, 100% 45%);
    margin: 0%;
}

.main__livresimg2 {
    clip-path: polygon(100% 100%, 82% 100%, 100% 0, 83% 14%, 21% 13%, 0 100%, 0 0, 21% 13%, 83% 14%, 100% 0);
        margin: 0%;
}
.main__livresimg3 {
    clip-path: polygon(82% 0, 100% 0, 100% 100%, 100% 87%, 20% 86%, 0 100%, 0 0, 20% 86%, 100% 87%, 100% 81%);
        margin: 0%;
}

.main__gintertitre {
    font-weight: bold;
    color: var(--text, #D20000);
    font-family: 'Futura Md BT';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.main__glecture {
    color: #D7D7D7;
text-align: center;
font-family: 'Helvetica';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 16.8px */
}
.main__gtexteimage {
    color: var(--text, #D7D7D7);
    text-align: center;
    font-family: Londrina Solid;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    position: absolute;
    top: 63%;
    /* Ajustez selon votre besoin */
    left: 50%;
    /* Ajustez selon votre besoin */
    transform: translate(-50%, -65%);
}
.main__imggauche {
    padding-right: 50px
}
.main__imgdroite {
    padding-left: 50px
}